/* =====banner===== */
.product-swiper .swiper-pagination-bullet{
    width: auto;
    height: auto;
    margin-left: 7px !important;
    margin-right: 7px !important;
    background-color: #2F7CE3 !important;
    opacity: 1 !important;
    height: 8.228px !important;
    width: 8.228px !important;
  }
  
  .product-swiper .swiper-pagination-bullet-active{
    background-color: transparent !important;
    background-color: #2F7CE3 !important;
    position: relative;
  }
  
  .product-swiper .swiper-pagination-bullet-active::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 24.685px;
    width: 24.685px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FFC73F;
  }
  